
NEXTAUTH_URL=http://localhost:3000/api/auth
NEXTAUTH_SECRET=asdfkjasdlfaskdfj # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

AUTH_SECRET=asdfkjasdlfaskdfj

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

FACEBOOK_ID=
FACEBOOK_SECRET=

GOOGLE_CLIENT_ID= - .apps. .com
GOOGLE_CLIENT_SECRET=GOCSPX-

GITHUB_CLIENT_ID=Iv1.
GITHUB_CLIENT_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true

# https://resend.com/overview
RESEND_API_KEY=

NEXT_PUBLIC_APP_URL=